<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello World - Setting</h1>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
</html>